.container_modal {
    max-width: 40rem;
    max-height: 34rem;
    background: #000000;
    box-shadow: 0 4px 20px rgb(29, 44, 242);
    border-radius: 30px;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin: 50px auto;
}

.block_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head_modal {
    font-size: 2rem;
    line-height: 3.25rem;
    color: #ffffff;
}

.container_modal input{
    padding: 1rem 1.6rem;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.container_modal input::placeholder{
    color: rgba(38, 48, 87, 0.5);
    font-size: 1.125rem;
    line-height: 1.6rem;
}

.sqare {
    margin-right: 0.5rem;
}

.sqare_text {
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: #263057;
}

.modal_btn {
    margin-top: 1rem;
}

.btn {
    display: grid;
    place-items: center;
    width: 14rem;
    height: 4rem;
    font-weight: 700;
    color: #fff;
    background: #1d2cf2;
    border-radius: 60px;
    text-transform: uppercase;
}

.btn:hover {
    background: #1aff00;
    color: #000;
}